header{
    nav{
        background-color: transparent !important;
        backdrop-filter: blur(30px);
        padding-bottom: 20px;
        font-size: 1.5rem;
       div{
            .logo{
                height: 80px;
            }
       }
    }
}